* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: helvetica, sans-serif;
}

.container-fluid {
  width: 80%;
  display: inline-block;
}

.devtools {
  width: 20%;
  float: right;
  position: fixed;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

header {
  height: 70px;
  position: fixed;
  width: 100%;
  display: none;
  text-align: center;
}

header span {
  font-size: 5px;
  text-transform: uppercase;
  color: white;
}

header, footer {
  display: block;
  background: red;
  padding: 20px;
}

nav, nav ul li {
  display: inline-block;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  text-align: center;
}

nav a {
  /*color: white;*/
  background-color: white;
  display: inline-block;
  width: 100px;
  text-decoration: none;
  padding: 5px;
}

a {
  color: red;
  text-decoration: none;
}

a:hover {
  color: pink;
}

#firstspacer {
  height: 80px;
}

.spacer {
  height: 70px;
  text-align: center;
  padding-top: 25px;
}

section {
  height: 700px;
  padding: 0 50px;
}

h1 {
  font-size: 4em;
  text-transform: uppercase;
}

#home h1 {
  text-shadow: 0 0 25px pink;
}

h2 {
  font-weight: 100;
}

.button {
  color: red;
  background-color: white;
  display: inline-block;
  padding: 85px 25px 10px 25px;
  border: 1px solid red;
  text-transform: uppercase;
  font-size: 12px;
}

.button:hover {
  background-color: pink;
}

#home {
  background: #fefefe;
  text-align: center;
}

#about {
  background: #efefef;
}

.profile {
  width: 50%;
  float: right;
  border: 2px solid red;
}

.bio {
  width: 45%;
  float: left;
}

p {
  font-weight: 100;
}

#portfolio  {
  background: #fefefe;
  text-align: center;
}

.project {
  height: 180px;
  width: 30%;
  display: inline-block;
  border: 1px solid red;
  margin: 5px;
  text-align: center;
}

#connect    { background: #efefef; }

h6 {
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

footer {
  height: 120px;
}
